html, body, iframe {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  text-shadow: 2px 0 6px rgba(255, 255, 255, 0.1);
}

/* md-card requires this to have a ripple effect */
md-card[md-ink-ripple] {
  position: relative;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
}

.distance {
  position: absolute;
  right: 5px;
  bottom: 0;
  text-align: right;
}

.show-more {
  color:darkred;
}

.event-tile {
  background-color: #E91E63;
  border: 1px solid #000;
  text-align: center;
  text-overflow: ellipsis;
  background-size: cover;
}

.event-tile span {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
}
.event-tile p {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.event-list {
  background-color: #E91E63;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #000;
  height: 100px;
  text-overflow: ellipsis;
  padding: 1%;
  padding-left: 110px;
  margin: 0;
  width:100%;
}

.event-list .venue {
  clear: both;
}

.event-list .distance {
  position: absolute;
  float: right;
  top: 4px;
  font-weight: normal;
  font-size: 12px;
}

.event-list .venue {
  position: absolute;
  float: right;
  bottom: 0;
  margin-left: -110px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  width: 94px;
  text-align: center;
  padding: 2px;
}

.event-map-bottom-button {
  background-color: #E91E63 !important;
  position: fixed !important;
  bottom: 0% !important;
  left: 0% !important;
  width: 100% !important;
  margin: 0 !important;
  alignment: center !important;
}

.event-details-container {
  position: absolute;
  min-height: 50px;
  min-height: 70%;
  height: 60%;
  width: 100%;
  margin-top: 10%;
  z-index: 110;
  background-color: #fff;
  overflow: visible;
}

.event-details p,
.event-details .event-title {
  padding: 0 20px;
  z-index: 111;
}

.event-details .event-title {
  padding-top: 20px!important;
}

.event-details {
  background-color: #fff;
  z-index: 110;
  vertical-align: middle;
  display: block;
  height: 100%;
  margin-top: 20px;
}

.event-detail-image {
  height: 82%;
  max-height: 500px;
  max-width: 500px;
  margin: 0 auto;
  background-size: cover;
  background-color: #fff;
}


.event-list-button {
  background-color: #E91E63 !important;
  position: absolute !important;
  top: 10px;
}

.event-title {
  font-weight: bold;
}

.disable-text-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.event-list.ng-enter,
.event-list.ng-leave,
.event-list.ng-move,
.event-details-container.ng-enter,
.event-details-container.ng-leave,
.event-details-container.ng-move,
.event-detail-image.ng-enter {
  transition: 0.5s linear all;
}

.event-tile.ng-leave {
  transition: 0;
}

.event-tile.ng-enter,
.event-tile.ng-move {
  transition: 1s linear all;
}


.event-tile.ng-enter,
.event-tile.ng-move,
.event-list.ng-enter,
.event-list.ng-move,
.event-details-container.ng-enter,
.event-details-container.ng-move,
.event-detail-image.ng-enter {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.event-list.ng-enter.ng-enter-active,
.event-list.ng-move.ng-move-active,
.event-details-container.ng-enter.ng-enter-active,
.event-details-container.ng-move.ng-move-active {
  height: 100px;
  opacity: 1;
}

.event-tile.ng-enter.ng-enter-active,
.event-tile.ng-move.ng-move-active {
  height: 100%;
  opacity: 1;
}


.ng-enter.ng-enter.ng-enter-active,
.ng-enter.ng-move.ng-move-active {
  height: 50%;
  opacity: 1;
}

.event-tile.ng-leave,
.event-list.ng-leave,
.event-details-container.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.event-tile.ng-leave.ng-leave-active,
.event-list.ng-leave.ng-leave-active,
.event-details-container.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}


#map {

}
