<!doctype html>
<html>

<head>
  <title>Upcoming Stops</title>

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

  <script type="text/javascript" src="js/llb.js"></script>
  <script type="text/javascript" src="js/app.module.js"></script>
  <script type="text/javascript" src="js/event/event.module.js"></script>
  <script type="text/javascript" src="js/event/event.controller.js"></script>
  <script type="text/javascript" src="js/event/event.factory.js"></script>
  <script type="text/javascript" src="js/livebus/livebus.module.js"></script>
  <script type="text/javascript" src="js/livebus/livebus.factory.js"></script>

  <script type="text/javascript" src="js/shared/shared.module.js"></script>
  <script type="text/javascript" src="js/shared/googleMapsApi.provider.js"></script>

  <script type="text/javascript" src="js/map/map.module.js"></script>
  <script type="text/javascript" src="js/map/map.controller.js"></script>
  <script type="text/javascript" src="js/map/map.factory.js"></script>
  <script type="text/javascript" src="js/map/map.directive.js"></script>
</head>

<body ng-app="upcomingStops" ng-if='$root.initialized' layout="column">

  <div ng-controller="EventController as ec" layout-fill>

    <md-content ng-if=!$root.fullscreen layout="row" layout-fill>
      <md-card ng-repeat="event in ec.events | limitTo:3" ng-cloak class="event-tile" flex layout-fill layout-align="center center">
        <span>{{ event.name }}</span>
        <span ng-if="event.venue">@{{ event.venue }}</span>
      </md-card>
    </md-content>

    <div ng-if=$root.fullscreen flex layout-fill layout="row">
      <md-sidenav md-is-open="true" md-component-id="left" ng-click="ec.toggleEventList()" class="md-sidenav-left md-whiteframe-z3" layout="column">
        <md-card ng-repeat="event in ec.events" ng-cloak flex layout-fill md-ink-ripple ng-click="ec.selectEvent(event)" ng-class="{'selected' : event === event.selectedEvent }" class="event-list disable-text-selection">
          <span class="event-title">
            <span>{{ event.name }}</span>
            <span ng-if="event.venue">@{{ event.venue }}</span>
          </span>
          <p ng-if="event.description">{{ event.description }}</p>
        </md-card>
      </md-sidenav>

      <md-content ng-cloak flex id="map">
        <apt-map ng-style='{"width": "100%", "height": "100%"}'></apt-map>
        <md-button class="md-icon-button md-raised md-hue-2 event-list-button" hide-gt-sm ng-click="ec.toggleEventList()" aria-label='Open Event List'>
          <!--<md-icon md-svg-icon="img/icons/menu.svg" ></md-icon>-->
          <img class="png-icon" src="img/icons/menu.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-if="ec.selectedEvent" class="md-icon-button" ng-click="ec.openBottomSheet(ec.selectedEvent)" aria-label='hack' style="background-color: transparent; position: fixed; top: 50%; left: 50%; alignment: center;">
          <md-icon md-svg-icon="img/icons/marker.svg" ></md-icon>
        </md-button>

        <md-button class="event-map-bottom-button" ng-if="ec.selectedEvent" class="" ng-click="ec.openBottomSheet(ec.selectedEvent)">
          {{ ec.selectedEvent.name }}
        </md-button>
      </md-content>

    </div>

  </div>

</body>
</html>
